<html>
<head>
    <title>荟邮轮</title>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/b_main.js"></script>
    <script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui_jb51/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui_jb51/themes/icon.css">
    <link href="/stylesheets/demozi.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/tinybox/tinybox.js"></script>

    <script type="text/javascript" src="/javascripts/jquery/jquery_tsk/js/jquery.alerts.js"></script>
    <link rel="stylesheet" href="/javascripts/jquery/jquery_tsk/js/jquery.alerts.css" type="text/css"/>

</head>
<body style="background-color: #EEEEEE;text-align: center">
<div style="width:960px;background-color: #FFFFFF;margin:auto;">
     <table style="width: 100%;background-image:url(images/titlebg.jpg)" border="0">
            <tr>
                <td><img src="/images/logo.png" style="margin-left: 20px;height:80px;margin-top:10px;" /></td>
                <td style="text-align: right;vertical-align: top">
               
                </td>
            </tr>
        </table>
    <div style="width:100%;background-color: #ffffff;">
                <br/>

                    <table style="width: 100%;margin-left:20px;" border="0">
                        <tr>
                            <td style="vertical-align: top;width: 400px;">
                                <img style="width: 400px;" src="images/B2Bmap.jpg"></img>
                            </td>
                            <td style="vertical-align: top"><img style="width: 18px;margin-left: 8px;" src="images/mappoint.png"></img></td>
                            <td style="vertical-align: top;font-family:微软雅黑;color: #666666;line-height: 20px;">
                                <b style="font-size: 17px;">上海荟邮网络科技有限公司</b>

                                <br/>
                                <span style="font-size: 12px" > Shanghai Huiyou Infotech CO., Ltd</span>

                                <br/><br/>
                                <b>办公地址：</b>上海市杨浦区国定东路200号4号楼320室，200433

                                <br/>
                                <b>ADD: </b>Room320, 4th Building, No.200, East GuoDing Road, Shanghai

                                <br/>
                                    <b>联系电话 TEL: </b>+86 21 65112980

                                <br/>
                                        <b>传真FAX: </b>+86 21 65112980

                                <br/>
                                            <b>邮箱E-MAIL: </b>booking@huiyoulun.com
                            </td>
                        </tr>
                    </table>
                    <br/>
            </div>
</div>
<div style="width:960px;margin:0 auto;">
    <div style="font-weight: bold;padding-top: 10px;font-size: 13px;text-align: left">上海荟邮网络科技有限公司版权所有</div>
    <div style="padding-top: 2px;font-size: 14px;;text-align: left">Copyright © 2014 www.huiyoulun.com - All Rights Reserved.</div>
    <div style="padding-top: 2px;font-size: 14px;;text-align: left">备案号 沪ICP备14019890号-2.</div>
</div>
<br/><br/>
</body>
</html>