<html>
<head>
    <title>错误</title>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/b_main.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui_jb51/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui_jb51/themes/icon.css">
    <link href="/stylesheets/demo.css" rel="stylesheet" type="text/css"/>
</head>
<body  style="text-align: center;background-color: #FFFFFF">
<div style="width:960px;background-color: #FFFFFF;margin:0 auto;">
        
<div style="margin-left: 50px;margin-top: 20px;">对不起，<%=error%></div>
    <div style="margin-left: 50px;margin-top: 5px;"><span id="miao1" style="font-size: 14px;color:#0169C0;" >5</span>秒后将自动返回注册页 </div>
</div>
</body>
</html>