<!DOCTYPE html>
<html>
<head>
    <title>荟邮轮</title>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/b_main.js"></script>
    <script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui_jb51/locale/easyui-lang-zh_CN.js"></script>

    <link href="/images/favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />   
    <link href="/images/favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />  
    <link href="/images/favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui_jb51/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui_jb51/themes/icon.css">
    <link href="/stylesheets/demozi.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/tinybox/tinybox.js"></script>

    <script type="text/javascript" src="/javascripts/jquery/jquery_tsk/js/jquery.alerts.js"></script>
    <link rel="stylesheet" href="/javascripts/jquery/jquery_tsk/js/jquery.alerts.css" type="text/css"/>

</head>
<body style="background-color: #EEEEEE">
<%- body %>
<div style="width:960px;margin:0 auto;">
    <div style="font-weight: bold;padding-top: 10px;font-size: 13px;text-align: left">上海荟邮网络科技有限公司版权所有<span onclick="window.open('aboutus');" style="font-size: 13px;margin-left:20px;cursor:pointer">联系我们</span></div>
    <div style="padding-top: 2px;font-size: 14px;;text-align: left">Copyright © 2014 www.huiyoulun.com - All Rights Reserved.</div>
    <div style="padding-top: 2px;font-size: 14px;;text-align: left">备案号 沪ICP备14019890号-2.</div>
</div>
<br/><br/>
</body>
</html>