<br><br><br><br><br>
<div style="width: 100%;text-align: left">
    <p style="text-align:center;color:gray;font-weight: bold;font-size: 12px;">&nbsp;&nbsp;&nbsp;加载中...</p>
    
</div>
<script>
    //setTimeout(function () {
		var url = window.location.href;
		var tmp = url.split("?page=");
		if(tmp.length!=1){
			window.location=tmp[1] ;
		}
	//}, 1000);
</script>

