                 <table style="width: 80%;margin: auto" border="0">
                     <%if(company[0].role_seller == 1){%>
                     <tr>
                         <td id="_om1" class="tdfooter2" style="cursor:pointer;line-height:30px;color: #ffffff;text-align: center;background-color: #ABBBBB;font-weight: bold;font-size: 14px;"  onclick="window.location='loading?page=publishproductmenu'">产品发布</td>
                     </tr>
                     <%}%>
                     <%if(company[0].role_seller == 1){%>
                     <tr>
                         <td id="_om2" class="tdfooter2" style="cursor:pointer;line-height:30px;color: #ffffff;text-align: center;background-color: #ABBBBB;font-weight: bold;font-size: 14px;"  onclick="window.location='loading?page=optionpublish'">邮轮集市</td>
                     </tr>
                     <%}%>
                     <tr>
                         <td id="_om3" class="tdfooter2" style="cursor:pointer;line-height:30px;color: #ffffff;text-align: center;background-color: #ABBBBB;font-weight: bold;font-size: 14px;" onclick="window.location='loading?page=optionpublish1'">尾舱买卖</td>
                     </tr>
                     <%if(company[0].role_seller == 1){%>
                     <tr>
                         <td id="_om4" class="tdfooter2" style="cursor:pointer;line-height:30px;color: #ffffff;text-align: center;background-color: #ABBBBB;font-weight: bold;font-size: 14px;" onclick="window.location='loading?page=optionaccount'">财务管理</td>
                     </tr>
                     <%}%>
                     <tr>
                         <td id="_om5" class="tdfooter2" style="cursor:pointer;line-height:30px;color: #ffffff;text-align: center;background-color: #ABBBBB;font-weight: bold;font-size: 14px;" onclick="window.location='loading?page=optioncompany'">账户管理</td>
                     </tr>
                     <tr>
                         <td id="_om6" class="tdfooter2" style="cursor:pointer;line-height:30px;color: #ffffff;text-align: center;background-color: #ABBBBB;font-weight: bold;font-size: 14px;" onclick="window.location='loading?page=optionweixin'">微信营销</td>
                     </tr>
                 </table>
            