<div style="width:960px;background-color: #FFFFFF;margin:0 auto;">
    <div style="font-weight: bold;margin-top: 25px;font-size: 16px;">在线预订</div>
    <img src="/images/ora.jpg" style="margin-top: 5px;width: 100%;height: 4px;" />
    <table border="0" style="background-image:url('images/kuang.jpg');width: 493px;height:162px;margin-left: 220px;margin-top: 20px;margin-bottom: 20px;">
        <tr>
            <td style="padding: 7px;font-weight: bold;font-size: 14px;line-height: 20px;">
                <div style="margin: 20px;margin-left: 80px;">
                您的订单已已保存！<br/>
                    可至<span style="color: #0169C0">个人中心-订单管理</span>进行下一步操作。 <br/>
                 <br/>
                <div style="font-size: 14px;text-align: right;width: 100%">
                    <img style="cursor:pointer;" onclick="window.location='/optionorder';" src="/images/close.png" />
                </div>
                </div>
            </td>
        </tr>
    </table>
</div>