<div style="width:960px;background-color: #FFFFFF;margin:0 auto;">

    <table style="width: 150px;margin-top: 20px;" border="0" cellspacing="0">
        <tr>
            <td class="tdfooter1" onclick="window.location='/productlist'" id="n1">中国出发</td>
            <td class="tdfooter1" id="n2" style="background-color: #F7861E;color:#FFFFFF" >海外出发</td>
        </tr>
    </table>
    <table style="width: 100%;margin-top:0px;background-color: #F7861E" border="0" cellspacing="0">
        <tr style="font-weight: bold;height: 50px;">
            <td style="width: 18%"><span style="margin-left: 20px;color: #FFFFFF;">出发日期</span></td>
            <td style="width: 18%"><span style="margin-left: 20px;color: #FFFFFF;">航区</span></td>
            <td style="width: 18%"><span style="margin-left: 20px;color: #FFFFFF;">出发港口</span></td>
            <td style="width: 18%"><span style="margin-left: 20px;color: #FFFFFF;">邮轮名称</span></td>
            <td style="width: 10%"><span style="margin-left: 20px;color: #FFFFFF;">产品类型</span></td>
            <td></td>
        </tr>
        <tr style="font-weight: bold;height: 35px;">
            <td style="vertical-align: top"><span style="margin-left: 10px;color: #FFFFFF;"><select style="width: 140px;"></select></span></td>
            <td style="vertical-align: top"><span style="margin-left: 10px;color: #FFFFFF;"><select style="width: 140px;"></select></span></td>
            <td style="vertical-align: top"><span style="margin-left: 10px;color: #FFFFFF;"><select style="width: 140px;"></select></span></td>
            <td style="vertical-align: top"><span style="margin-left: 10px;color: #FFFFFF;"><select style="width: 140px;"></select></span></td>
            <td style="vertical-align: top"><span style="margin-left: 10px;color: #FFFFFF;"><select style="width: 140px;"></select></span></td>
            <td style="vertical-align: top"><div style="cursor:pointer;margin-left: 30px;margin-top: 0px;width: 70px;background-color: #0068BD;color:#FFFFFF;font-weight: bold;text-align: center">搜！</div></td>
        </tr>
    </table>

   <table style="width: 100%;margin-top: 50px;" border="0" cellpadding="2" cellspacing="2">
       <tr style="background-image: url('images/huitou.png');text-align: center">
           <td><span style="font-weight: bold;color: #000000">产品编号</span></td>
           <td><span style="font-weight: bold;color: #000000">船公司</span></td>
           <td><span style="font-weight: bold;color: #000000">供应商</span></td>
           <td><span style="font-weight: bold;color: #000000">航区</span></td>
           <td><span style="font-weight: bold;color: #000000">出发日期</span></td>
           <td><span style="font-weight: bold;color: #000000">产品名称</span></td>
           <td><span style="font-weight: bold;color: #000000">出发港</span></td>
           <td><span style="font-weight: bold;color: #000000">航线</span></td>
           <td><span style="font-weight: bold;color: #000000">产品类型</span></td>
           <td><span style="font-weight: bold;color: #000000">几晚</span></td>
           <td><span style="font-weight: bold;color: #000000">结算价</span></td>
       </tr>
   </table>
    <br/><br/>
</div>