<div style="width:960px;background-color: #FFFFFF;margin:0 auto;">
    
    <table border="0" style="width: 623px;height:162px;margin-left: 180px;margin-top: 20px;margin-bottom: 20px;">
        <tr>
            <td style="vertical-align: top;">
                <img style="margin-top: 17px;" src="/images/sucess.png" />
            </td>
            <td style="padding: 7px;font-weight: bold;font-size: 14px;line-height: 25px;">
                <div style="margin: 20px;margin-left: 10px;font-size: 14px">
                    <span style="color:#000000;font-size: 16px">订单提交成功！请耐心等待供应商确认！</span><br/>
                    请尽快补充游客信息，待供应商确认预订后，请您仔细阅读《订单付款通知单》，<br/>按时付款并上传付款水单。《出团通知单》将于出行前3-5日内上传至您的订单内。<br/>

                    </span>
                 <br/>
                <div style="font-size: 14px;text-align: left;width: 100%;">
                    <span style="color:#000000;font-size: 14px;">订单号:</span> <span style="color:#F78D2B;font-size: 14px;"><%=bn%></span>&nbsp;&nbsp;&nbsp;<a style="color:#0468B9;font-size: 14px;cursor: pointer" onclick="window.parent.htg1('productbookingread?p=<%=bnid%>');">查看订单详情</a>
                    &nbsp;&nbsp;&nbsp;<a style="color:#0468B9;font-size: 14px;cursor: pointer" onclick="window.parent.htg1('optionorder');">打开订单列表</a>
                    &nbsp;&nbsp;
                    <a style="color:#0468B9;font-size: 14px;cursor: pointer" onclick="window.location='productlist';">继续预订</a>
                    <img style="display:none;cursor:pointer;" onclick="window.location='/optionorder';" src="/images/close.png" />
                </div>
                </div>
            </td>
        </tr>
    </table>
</div>