<div style="width:960px;background-color: #FFFFFF;margin:auto;">
    <form method="post">
        <table style="width: 100%;background-image:url(images/titlebg.jpg)" border="0">
            <tr>
                <td><img src="/images/logo.png" style="margin-left: 20px;height:80px;margin-top:10px;" /></td>
                <td style="text-align: right;vertical-align: top"><img style="padding-top:20px;margin-right: 10px;" src="/images/callto.jpg" style="margin-left: 20px;" /></td>
            </tr>
        </table>
        <table width="100%" style="height:580px;margin:auto;" border="0">
            <tr>
                <td style="width: 20px">
                   
                </td>
                <td style="vertical-align: top">
                <div style="font-weight: bold;margin-top: 25px;font-size: 18px;">注册加入我们</div>
                    <img src="/images/ora.jpg" style="margin-top: 0px;width:100%;" />
                    <table border="0" style="background-image:url('images/kuang.png');width: 500px;height:168px;margin-left: 205px;margin-top: 70px;">
                        <tr>
                            <td style="padding: 12px;font-weight: bold;font-size: 14px;line-height: 20px;">
                                感谢您对“荟邮轮”的关注！<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为避免本平台同行价格等信息泄露，我们将对所有申请者提交的申请资料进行审核，以保障同行利益。对由此而给您带来的不便，在此表示歉意！<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一经审核（一个工作日内）通过，我们将为您开通帐号并将相关信息发送至您所填写的邮箱或手机。<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如需帮助，请拨打免费电话400-998-6121。<br/>

                                <div style="font-size: 14px;text-align: right;width: 100%">上海荟邮网络科技有限公司</div>
                            </td>
                        </tr>
                    </table>
                    <div style="width: 100%;margin-top: 40px;font-weight: bold;font-size: 14px;padding-left: 295px;"><span id="miao" style="font-size: 14px;color:#0169C0;" >30</span>秒后将自动跳至首页，如不跳转，请点击<span style="font-size: 14px;color:#0169C0;cursor: pointer" onclick="window.location='/';">首页</span>。</div>
                </td>
                <td style="width: 20px">
                   
                </td>
            </tr>
        </table>

    </form>
</div>


